<div align="center">

<%= form_for('merchant/validate') do |f| %>

<table>
<tr>
<td><%= f.label :tid, class: "field_input" %>
<%= f.text_field :tid %>
</td>

<td>
<%= f.label :mid, class: "field_input"  %>
<%= f.text_field :mid %>
</td>
</tr>

<tr>
<td>
&nbsp; &nbsp; &nbsp; &nbsp;
</td>
</tr>

</table>

<div align="center">
<%= f.label :captcha, class: "field_input"   %>
<%= f.text_field :captcha %>

<div align="center">
<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

</div>
</div>
</div>
