<div align="center">

<%= form_for(:merchant, url: 'validate') do |f| %>

<table>
<tr><td><%= f.label :mid, class: "field_input" %>
<%= f.text_field :mid %>
</td>

<td>
<%= f.label :tid, class: "field_input"  %>
<%= f.text_field :tid %>
</td>

<td>
<%= f.label :mobile, class: "field_input"  %>
<%= f.text_field :mobile %>
</td>

<td>
<%= f.label :email, class: "field_input"  %>
<%= f.text_field :email %>
</td>
</tr><table>

<p>&nbsp;</p>

<%= f.label :complaint, class: "field_input" %>
<%= f.text_area :complaint , :style => "width:600px;" %>

<p>&nbsp;</p>

<%= f.label :captcha, class: "field_input"   %>
<%= recaptcha_tags %>

<p>&nbsp;</p>



<%= (f.submit "Submit", class: "btn btn-large btn-primary")%>
<% end %>
</div>